body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 80%;
  text-align: center;
  padding-top: 10vh;
  margin: 0 auto;
}

.button {

  border: 2px solid #1dbb86;
  padding: 14px 40px;
  background: #00cc87;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  width: 100%;
  margin: 10px auto;
}

.task {
  border: 2px solid black;
  padding: 1px 26px;
  background: #ffffff;
  color: #272727;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  text-align: left !important;
  font-size: 14px;
  padding: 17px 26px;
}

.delete {
  color: #de3112;
  margin-left: 20px;
}

input {
  padding: 10px 0px;
  min-width: 300px;
  padding-left: 20px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #b3a6a1;
}

.completed {
  border: 2px solid grey;
  background: # #bcbcbc;
  color: grey;
}

.add-task {
  border: 2px solid #4d4d4d;
  padding: 1px 25px;
  background: #262322;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -34px;
  text-align: center;
  font-size: 12px;
  max-width: 12px;
  z-index: 20;
  position: absolute;
  right: 0;
  font-size: 24px;
  border-radius: 3px;
}

.delete {
  color: #de3112;
  margin-left: 20px;
  position: absolute;
  right: 18px;
  font-size: 26px;
  margin-top: -24px;

}

.update {
  color: #7bde72;
  margin-left: 20px;
  position: absolute;
  right: 58px;
  font-size: 26px;
  margin-top: -24px;

}

.top-section{
  width: 100%;
  background: #f7f7f7;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  padding: 12vh 0;
}

.top-section-chat{
  width: 100%;
  background: #f7f7f7;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  padding: 4vh 0;
}


.small-container{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.other_section{
  padding-top: 5rem;
}

.logo{
  margin-bottom: 20px;
}

.other-section{
  position: relative;
}

.card {
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 292px;
  float: left;
  border-radius: .3rem;
  margin: 10px 20px;
  background: url(https://cdn.dribbble.com/users/72473/screenshots/3455982/mountain.jpg);
  background-size: cover;

}
.card h3{
  position: absolute;
  color: #515151;
  bottom: 20px;
  left: 20px;
  text-align: left;
}
.form{
  margin-bottom: 20px;
}

.custom_button{
  padding: 7px 40px;
  min-width: 350px;
  margin-left: 10px;
}
.dashboard-container{
  padding-top: 5vh;
}


input{
  border: 1px solid #dad8e5;
  padding: 14px 40px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.action_handler{
  margin: 10px auto;
  max-width: 400px;
  text-decoration: underline;
  cursor: pointer;
}

.form-box{
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dedede;
}

.form-box-dashboard{
  margin-top: -89px !important;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.06);
  border-radius: 5px;
}


.form-box-inline{
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dedede;

}

.inline-input{
   width: 67%;
 }
.inline-button{
  width: 27%;
  margin-left: 3%;
}

.floating-container{
  position: fixed;
  bottom: 0;
  z-index: 100;
  left: 10%;
  width: 80%;
  text-align: center;
  padding-top: 4vh;
  margin: 0 auto;

}

.floating-container .form-box-inline{
  padding: 0;
  background: white;
}

.floating-container input{
  margin-top: 0;
}

.profile_icon{
  float: left;
  width: 59px;
  height: 59px;
  background: #00cc87;
  border-radius: 100px;
  padding-top: 12px;
  color: #fff;
  font-size: 26px;
}

.chat_card{
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}
.large{
  min-height: 230px;
}
.message{
  float: left;
  width: 600px;
  min-height: 97px;
  border: 1px solid #afafaf;
  text-align: left;
  padding-left: 30px;
  padding-top: 14px;
  margin-left: 25px;
  margin-right: 25px;
}

.chat-container{
  width: 60%;
  max-height: 68vh;
  overflow: scroll;
  padding-bottom: 20vh;
}

.right{
  float: right !important;
}